.slider-wrapper {
  max-width: 1210px;
  padding: 0 20px;
  margin: auto;
}

.slider-wrapper img {
  transform: scale(.8);
  transition: transform .5s;
  max-width: 100%;
  padding: 0 6px;
}

.slider-wrapper .img-slider.active {
  transform: scale(1);
}

.img-slider {
  display: block;
  max-width: 100%;
}

.contenedor-slider-info {
  padding: 2rem 0;
}

.contenedor-slider-info__title {
  font-weight: 500;
  padding: 1rem 0;
  width: fit-content;
  position: relative;
  color: #1b1b20;
  margin-bottom: 1rem;
}

.contenedor-slider-info__title::after {
  content: "";
  display: block;
  width: 30%;
  height: 4px;
  background-color: #ef782a;
  position: absolute;
  left: 0;
  bottom: 0;
}

.contenedor-slider-info__subtitle {
  font-size: 1rem;
  font-weight: 500;
  width: fit-content;
  color: #98989c;
  margin-bottom: 1rem;
}

.contenedor-slider-info__description {
  font-size: 1.05rem;
  margin: 0;
  color: #98989c;
  font-weight: 400;
}
